:root {
    --color-1: #F3F5FC;
    --color-2: #0A3871;
    --color-3: #D8DFE8;
    --color-4: #FFFFFF;
}

* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-1);
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    background-color: var(--color-3);
}

h1 {
    margin: 0 40px 0 0;
    font-size: 26px;
    font-weight: bold;
}

main {
    margin: 8vh auto;
    width: 35vw;
    display: grid;
    row-gap: 50px;
    grid-template:
        'a a'
        'b c'
        'd d' ;
    }
    
#input {
    grid-area: a;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 18px;
    box-shadow: 1px 1px 3px var(--color-2);
}

.btn {
    margin: auto;
    width: 50%;
    height: 40px;
    border-radius: 5px;
    transition: all .2s;
    font-size: 14px;
    font-weight: bold;
}

.btn:hover {
    box-shadow: 1px 1px 5px var(--color-2);
}

#encrypt {
    grid-area: b;
    background-color: var(--color-2);
    color: var(--color-4);
}

#decrypt {
    grid-area: c;
    background-color: var(--color-3);
}

#result, #copy {
    position: relative;
    grid-area: d;
    background-color: var(--color-4);
    height: auto;
    max-height: 50vh;
    margin: auto;
    border-radius: 10px;
    width: 80%;
    padding: 20px 0;
}

#result p {
    cursor: default;
    max-width: 85%;
    text-align: center;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    margin: auto;
    overflow: scroll;
}

#copy {
    background-color: var(--color-2);
    color: var(--color-4);
    text-align: center;
    width: 50%;
    display: none;
    opacity: .6;
}